// Primary colours
$color-high-background: #ffffff;
$color-low-background: #eeeeee;
$color-outer-background: #333333;
$color-inner-background: #e9e9e9;
$color-shaded-background: #f9f9f9;
$color-primary: #ffd400;
$color-green: #428600;
$color-purple: #7a437c;

$color-archive: #CCCCCC;

$color-create: #fcec9a;

$color-ladies-background: #f48fb1;
$color-ladies-foreground: #8a2748;

$color-mixed-background: #aed581;
$color-mixed-foreground: #598229;

$color-mens-background: #81d4fa;
$color-mens-foreground: #22698a;

$color-F: #f48fb1;
$color-M: #81d4fa;

$color-link: #666;
$color-link-hover: #000;


$color-mens: #35A7FF;
$color-ladies: #FF5964;
$color-mixed: #A5BE00