// Primary colours
$color-high-background: #ffffff;
$color-low-background: #eeeeee;
$color-outer-background: #333333;
$color-inner-background: #f4f4f4;
$color-primary: #ffd400;
$color-green: #428600;
$color-purple: #7a437c;