@import 'reset-css';
@import '../../styles/global.scss';




@mixin _match {
  position:relative;
  border-radius: 6px;
  padding: 6px;
  display: inline-block;
  margin: 0px 0px 5px 0px;
  width: 100%;

  @media (max-width: 850px) {
    width:46% !important;
    margin: 5px !important;
  }

}

:local(.mensMatch) {
  @include _match;
  color: $color-mens-foreground;
  background: $color-mens-background;
}

:local(.ladiesMatch) {
  @include _match;
  color: $color-ladies-foreground;
  background: $color-ladies-background;
}


:local(.mixedMatch) {
  @include _match;
  color: $color-mixed-foreground;
  background: $color-mixed-background;
}

:local(.div) {
  font-size:11px !important;
  width:48%;
  text-align:left;
  display:inline-block;
}

:local(.time) {
  font-size:11px !important;
  width:48%;
  text-align:right;
  display:inline-block;
}

:local(.content) {
  color:#000;
  text-align:center;
}

:local(.venue) {
  text-align: center;
  font-weight: bold;
}

