@import '../../styles/global.scss';

.default {
  padding: 20px 20px;
  background-color: $color-inner-background;
  border-left:10px transparent;
}

.high {
  padding: 20px 20px;
  background-color: $color-high-background;
  border-left:10px solid #ddd;
}

.low {
  padding: 20px 20px;
  background-color: $color-low-background;
  border-left:10px solid #ddd;
}

.create {
  padding: 20px 20px;
  background-color: $color-create;
  border-left:10px solid $color-primary;
}

.marginBottom {
  margin-bottom: 20px;
}