
.tableHead {

  th, td {
    padding:4px 12px 4px 12px !important;
  }
}

.tableSubHead {
  background:#f0f0f0;
  height: 30px !important;
}

.tableSubHead th {
    padding:2px 12px 2px 12px !important;
  }


.tableBody {

  th, td {
    padding:4px 12px 4px 12px !important;
  }
}

.team {
  text-align: right !important;
}

