@import 'reset-css';
@import '../../styles/global.scss';


::selection {
  color: rgb(7, 7, 7);
  background: $color-primary;
}

.outer {
  width:100%;
}

.inner {
  max-width: 1300px;
  margin: 0 auto;
}

.bold, b {
  font-weight: bold !important;
}

.content {
  padding: 20px 70px 140px 70px;
  min-height: 100vh;
  background-color: $color-inner-background;

  h1 {
    font-size: 40px;
    line-height: 40px;
    margin: 20px 0;
    font-family: 'Open Sans Condensed';
    font-weight: bold
  }

  h2 {
    font-size: 30px;
    line-height: 30px;
    margin: 20px 0;
    font-family: 'Open Sans Condensed';
    font-weight: bold
  }

  h3 {
    font-size: 20px;
    line-height: 30px;
  }

}

.button {
  background-color: $color-primary;
  color: #000;
  border-radius: 6px;
  position: relative;
  font-weight: bold;
  padding: 5px 10px;
  margin: 0 8px 8px 0;
  border-bottom: 3px solid darken( $color-primary, 10% );
}

.button:hover {
  background-color: darken( $color-primary, 2% );
  border-bottom: 3px solid darken( $color-primary, 12% );
}

input {
  font-size: 20px;
  padding: 4px;
}

.button:active {
  background-color: darken( $color-primary, 2% );
  border-bottom: 0px transparent;
  top:3px;
}

.button.buttonOff {
  background-color: #ccc;
  border-bottom: 3px solid darken( #ccc, 10% );
}

.button.buttonOff:hover {
  background-color: darken( #ccc, 4% );;
  border-bottom: 3px solid darken( #ccc, 14% );
}

.button.buttonOff:active {
  background-color: darken( #ccc, 4% );;
  border-bottom: 0px transparent;
  top:3px;
}

a.current {
  background-color: #f4f4f4;
  color: #333;
}

body {
  box-sizing: border-box;
  background-color: $color-outer-background;
}

body {
    font-family: 'Open Sans Condensed';
    font-size: 20px;
    line-height: 20px;
}

* {
  box-sizing: border-box;
  font-size: 11px;
}


h1 {
  font: 30px/40px !important
}

a {
  color: $color-link;
  text-decoration: none;
}

a:hover {
  color: $color-link-hover;
  text-decoration: none;
}




table {
  width: 100%;
  
  thead {
    th, td {
      padding:4px 6px 4px 6px;
      background:#f0f0f0;
      text-align: center;
      border: 1px solid #eee
    }
  }

  tbody {
    th, td {
      padding:4px 6px 4px 6px;
      background-color: #fff;
      text-align: center;
      border: 1px solid #eee;
    }
  }
}


.table-Ladies {
  border-bottom:5px solid darken( $color-ladies-background, 10% )
}

.table-Mens {
  border-bottom:5px solid darken( $color-mens, 10% )
}

.table-Mixed {
  border-bottom:5px solid darken( $color-mixed, 10% )
}

.bg-Ladies, .bg-Ladies * {
  background-color: $color-ladies-background;
}

.bg-Mens, .bg-Mens * {
  background-color: $color-mens-background;
}

.bg-Mixed, .bg-Mixed * {
  background-color: $color-mixed-background;
}

.fg-Ladies {
  background-color: $color-ladies-foreground;
}

.fg-Mens {
  background-color: $color-mens-foreground;
}

.fg-Mixed {
  background-color: $color-mixed-foreground;
}