@media (min-width: 900px) {
  :local(.day) {
      max-width: 14.285% !important;
      flex-basis: 14.285% !important;
  }
}

:local(.day) {
  background-color:#fff;
  border:1px solid #f4f4f4;
  margin:0 -1 -1 0;
  display: inline;

  h2 {
    font-size:13px;
  }
}

:local(.day0) {
  background-color:#fcfcfc;
}
:local(.day6) {
  background-color:#fcfcfc;
}

.list li {
  padding: 0 !important
}