@import '../../styles/global.scss';

@media (min-width: 850px) {
  .day {
      max-width: 13.7% !important;
      flex-basis: 13.7% !important;

  }
  .weekday {
    display: none !important;
  } 
}

@media (max-width: 850px) {
  .dt {
    width: 100%;
  }
}



.day {
  background-color: #fff;
  margin: 2px;
  display: inline;
  min-height:100px;
  width:100%;
  padding: 8px;

  h2 {
    font-size:13px;
  }

  .dt {
    padding-bottom: 4px;
    display: block;
  }
}

.day0, .day6 {
  background-color: $color-shaded-background;
}

.today {
  background-color: $color-primary !important;
}

.before {
  background-color: transparent;
}

.after {
  background-color: transparent;
}
