@import '../../styles/global.scss';

.team {
  text-align: right !important;
}

.block {
  background: linear-gradient(to top left, #fff calc(50% - 1px), #aaa, #fff calc(50% + 1px) )
}

.time {
  display: block;
  font-size: 11px;
}


.sub td {
  padding: 10px;
}

.homeTeam {
  width: 25%;
  text-align: left;
  
}

.homeTeam, .awayTeam, .gap {
  background-color: #333;
  color:#fff;
}

.fixture {
  display: block;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}