@import '../../styles/global.scss';

.team {
  text-align: right !important;
}

.block {
  background: linear-gradient(to top left, #fff calc(50% - 1px), #aaa, #fff calc(50% + 1px) )
}

.time {
  display: block;
  font-size: 11px;
}

.homeTeam {
  width: 25%;
  text-align: center;
  
}

.homeTeamLabel {
  width: 50px;
  position: relative;

  h3 {
    transform: rotate(-90deg);
    position: absolute;
    top: 40%;
    left: -36px;
    width: 120px;

  }
}

thead {
  border-bottom: 2px solid #333;
}

.fixture {
  display: block;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}