th, td {
  padding:4px 12px 4px 12px !important;
  border-right: 1px solid #ddd !important;
  width:10%;
  text-align: center !important;
}

.team {
  text-align: right !important;
}

.block {
  background: linear-gradient(to top left, #fff calc(50% - 1px), #aaa, #fff calc(50% + 1px) )
}