@import '../../styles/global.scss';




@mixin _card {
  position:relative;
  border:1px solid #000;
  padding: 6px;
  display: inline-block;
  margin: 0px 0px 5px 0px;
  width: 100%;

  @media (max-width: 850px) {
    width:46% !important;
    margin: 5px !important;
  }

}

:local(.mensCard) {
  @include _card;
  color: $color-mens-foreground;
  background: $color-mens-background;
}

:local(.ladiesCard) {
  @include _card;
  color: $color-ladies-foreground;
  background: $color-ladies-background;
}


:local(.mixedCard) {
  @include _card;
  color: $color-mixed-foreground;
  background: $color-mixed-background;
}

:local(.div) {
  font-size:11px !important;
  width:48%;
  text-align:left;
  display:inline-block;
}

:local(.time) {
  font-size:11px !important;
  width:48%;
  text-align:right;
  display:inline-block;
}

:local(.content) {
  font: 18px/18px 'open_sanscondensed_light';
  text-align: center;
}

:local(.venue) {
  text-align: center;
  font-weight: bold;
}

