@import '../../styles/global.scss';




@mixin _card {
  position:relative;
  background-color:#fff;
  border-radius: 10px;
  border-bottom:5px solid #ccc;

  padding: 0px;
  display: inline-block;
  margin: 0px 0px 5px 0px;
  width: 100%;

  .match-header {
    border-radius: 10px 10px 0 0;
    padding: 10px;

    h2 {
      font-weight: bold;
      margin: 0px;
      text-transform: uppercase;
    }

    

  }

  .match-footer {
    padding: 0px 20px 20px 20px;

    .match-footer-left {
      width: 90%;
      display:inline-block;
      text-align:right;
      padding-right:20px;
    }
    .match-footer-right {
      width: 10%;
      float:right;
      text-align:right;
    }
  }

  .match-player {
    margin: 4px 0;
  }

  .match-page {
    padding: 20px;
  }

  h2 {
    margin: 0px 0px 5px 0px;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 32px;
  }

  table.scores {
    margin: 20px 0px 0px 0px;
    border-bottom: 1px solid #333;

    tbody td {
      border: none;
      padding: 0;
    }

    tbody td.line {
      border-right: 1px solid #333;
    }

    input {
      background-color: $color-inner-background;
      border: 0;
      border-top: 1px solid #999;
    }

  }

  table td {
    text-align: center;
    line-height: 35px;
  }

  .right {
    text-align: right;
  }

  tr.labels td, div.label {
    line-height: 17px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
  }

  tr.totals td {
    font-size: 32px;
    line-height: 50px;
  }

  select {
    width: 100%;
    background: $color-inner-background;
  }

}

.mensCard {
  @include _card;

  .match-header {
    background: $color-mens-background;
  }
}

.ladiesCard {
  @include _card;

  .match-header {
    background: $color-ladies-background;
  }
}

.mixedCard {
  @include _card;

  .match-header {
    background: $color-mixed-background;
  }
}

.card-result {
  background: #fff;
  border-radius: 10px;
  padding: 15px 10px;
  text-align:center;
  margin-bottom: 20px;
  border-bottom: 5px solid #ccc;

  h2 {
    margin: 0;
    text-transform: uppercase;
  }
  h3 {
    font-weight: normal;
    text-transform: uppercase;
  }
}

.score { 
  width: 50px;
  font-size: 17px;
  text-align: center;
}

.div {
  font-size:11px !important;
  width:48%;
  text-align:left;
  display:inline-block;
}

.time {
  font-size:11px !important;
  width:48%;
  text-align:right;
  display:inline-block;
}

.venue {
  text-align: center;
  font-weight: bold;
}

