

.calendar {
  display: flex;
  flex-wrap: wrap;
}

.monthLink {
  margin-right: 10px !important;
}

.monthName {
  padding-bottom: 20px;
}


@media (min-width: 900px) {
  .weekday {
      color: #666;
      
  }
}

@media (max-width: 900px) {
  .weekday {
    display: none;
  }
}